/***********GENERELLE INSTILLINGER*******************/

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: auto;
    font-size: 100%;
    background-color: #414b5a;

}

h1,
h2,
h3 {
    font-family: 'Exo', sans-serif;
    margin: 5vw;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 5vw;
    line-height: 1.6;
    text-align: left;
}

/***********HEADER / NAV*******************/

#nav {
    background-color: #28292c;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

#logo {
    float: left;
    padding-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    font-family: Safety_DemiBold, Helvetica, Arial, sans-serif;
    display: block;
    padding left: 20px;
    padding-right: 20px;
    margin-top: 25px;

    color: #ccc;
    line-height: 22px;
    position: static;
    vertical-align: middle;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;

}

.kampagner {
    margin-right: 160px;
}



#section {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #414b5a;
}

#section1 {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #eaeaea;
}

#section2 {
    width: 100%;
    height: 750px;
    background-color: #414b5a;
    color: #EAEAEA;

}

.linje {
    stroke: #eaeaea;
    stroke-width: 1;
}


.piechart {
    background: #eaeaea;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transform: rotate(-90deg);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    justify-self: center;
}

.grid-container {
    text-align: center;

}

h2 {
    grid-column-start: 1;
    text-align: center;
}

p {}




.resultat {
    transform: rotate(90deg);
    font-family: 'Exo', sans-serif;
    stroke: #eaeaea;


}

.oevrigt {
    transform: rotate(90deg);
    font-family: 'Exo', sans-serif;
    stroke: #ddd;


}




.pie1 {
    fill: none;
    stroke-width: 100;
    stroke-dasharray: 10 632;
    stroke-dashoffset: 0;
    fill: none;
    stroke: #79BD5A;
    transition: all 1s ease;


}



#section3 {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #eaeaea;
}

#section4 {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #414b5a;
}

#section5 {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #eaeaea;
}

#section6 {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #414b5a;
}

#section7 {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #eaeaea;
}

#lastsection {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #414b5a;
}

#footer {
    width: 1565;
    padding: 5px;
    height: 200px;

    background-color: #28292c;
    color: #9ea1a5;
}

/******************** TABLET *******************/

@media only screen and (min-width: 768px) {

    #section2 {
        height: 600px;
    }

    h1 {
        margin-left: 2vw;
    }

    p {
        text-align: left;
    }


    .piechart {
        background: #eaeaea;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        transform: rotate(-90deg);
        margin-top: 5vw;
        margin-left: 7vw;



    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2vw;

    }

    h2 {
        grid-column-start: 2;
    }


    p {
        grid-column-end: 2
    }


}

/************ DESKTOP ***************/

@media only screen and (min-width: 1024px) {
    #section2 {
        height: 600px;
    }

    .piechart {
        width: 350px;
        height: 350px;

    }

    h1 {
        text-align: center;

    }

    .grid-container {}


    p {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    i {
        margin-top: 4vw;
    }
}
