/***********GENERELLE INSTILLINGER*******************/
@import url(https: //cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css)

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: auto;
    font-size: 100%;
    background-color: #414b5a;
    scroll-behavior: smooth;

}

h1,
h2,
h3 {
    font-family: 'Exo', sans-serif;
}

h1 {
    margin: 2vw 0 0 0;
    margin-left: 5vw;

}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 5vw;
    line-height: 1.6;
    text-align: left;
}

.fa {
    padding: 5px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    float: left;
    border-style: solid;
    border-color: #5280CC;
    margin-top: 2vw;

}

.fa-facebook {
    color: #5280CC;
}

.fa-twitter {
    color: #5280CC;
}

.fa-linkedin {
    color: #5280CC;
}


/***********HEADER / NAV*******************/

#nav {
    background-color: #28292c;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    -webkit-transition: all .5s;
    transition: all .5s;


}

#undernav {
    background-color: #363D47;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 15vw;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    padding-top: 3vw;
    padding-left: 1vw;

}

#undernav li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    padding: 1vw;
}

#undernav a {
    color: #eaeaea;
    text-decoration: none;
    font-family: 'Exo', sans-serif;

}



#undernav a:hover {
    font-style: oblique;
    color: white;
}

#menuknap {
    width: 2em;
    height: 1.5em;
    font-size: 2em;
    color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 1rem;
}

#mobile {
    width: 100%;
    background-color: #28292c;
    list-style-type: none;
    position: fixed;
    top: 15vw;
    float: left;

}

#mobile a {
    color: #eaeaea;
    text-decoration: none;
    font-family: 'Exo', sans-serif;

}

#mobile li {
    padding: 1.5vw;
}

#mobile a:hover {
    font-style: oblique;
    color: white;
}



#logo {
    float: left;
    padding-left: 20px;
}

#desktop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 10vw;

}

#desktop li {
    float: right;

}

#desktop li a {
    display: block;
    padding left: 20px;
    padding-right: 20px;
    font-family: 'Exo', sans-serif;
    color: #ccc;
    line-height: 22px;
    position: static;
    vertical-align: middle;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;

}



/********************NAVBAR DESKTOP**********************/

.hidden {
    transform: scale(0);
}




#desktop {
    display: none;
}

/* Links inside the navbar */
#desktop a {
    float: right;
    display: block;
    color: #E0D3AD;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 2.5vw 2vw 0vw;
    position: relative;
}

/* Change background on mouse-over */
#desktop a:hover {
    font-style: oblique;
    color: white;

}

/************ INTRO ***********************/

.bg {
    width: 100%;
    height: 140px;

}

#intro-section {
    width: 100%;
    height: 400px;
    background-color: #414b5a;
    color: #eaeaea;
    display: grid;

}

#intro-section h1 {
    text-align: left;
    margin-top: 2vw;
    float: left;
    margin: auto auto auto 5vw;
}

#intro-section .green {
    color: #79BD5A;
    margin-top: 0;
    margin-bottom: 0;

}

#intro-section .navn {
    color: #eaeaea;
}

#intro-section h3 {
    margin-left: 5vw;
    margin-right: 5vw;
}

.so-me {
    margin-left: 5vw;
}

/************ KAMPAGNE VIDEO ******************/

#video-section {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    background-color: #eaeaea;
    color: #414b5a;
    text-align: center;

}

.kampagne-video {
    position: relative;
    padding-bottom: 26.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 5vw;
    margin-top: 2vw;
}

.kampagne-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/**************** GRAF SECTION ********************/

#section-graf {
    width: 100%;
    height: 700px;
    background-color: #eaeaea;
    color: #414b5a;
    display: grid;
}

#section-graf .grid-container {
    display: grid;
    grid-template-rows: auto auto auto;

}

#section-graf img {
    width: 100%;
}

/****************** PIECHART SECTION ****************/

#section-pie {
    width: 100%;
    height: 930px;
    background-color: #414b5a;
    color: #EAEAEA;

}


.piechart {
    background: #eaeaea;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transform: rotate(-90deg);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    justify-self: center;
    margin-top: 6vw;
}


.grid-grid {
    text-align: center;
}

h2 {
    grid-column-start: 1;
    text-align: center;
}

p {}




.resultat {
    transform: rotate(90deg);
    font-family: 'Exo', sans-serif;
    stroke: #eaeaea;


}

.oevrigt {
    transform: rotate(90deg);
    font-family: 'Exo', sans-serif;
    stroke: #ddd;


}

i {
    text-align: center;
}


.pie1 {
    fill: none;
    stroke-width: 100;
    stroke-dasharray: 10 632;
    stroke-dashoffset: 0;
    fill: none;
    stroke: #79BD5A;
    transition: all 1s ease;


}

/****************** CYKELHJELM SECTION ****************/

#section-hjelm {
    width: 1565;
    padding: 5px;
    height: 650px;
    background-color: #414b5a;
    color: #eaeaea;
}

#section-hjelm .grid-container {
    display: grid;
    grid-template-rows: auto auto auto;


}

#section-hjelm a {
    color: #FE6975;
    font-family: 'Exo', sans-serif;
    text-decoration: none;
    margin: 5vw;
}

#imgbox3 img {
    width: 60%;
    margin-top: 4vw;
    justify-self: center;
}

#imgbox3 {
    display: grid;
    grid-template-columns: auto auto;
    justify-self: center;

}



#section-portfolio {
    width: 1565;
    padding: 5px;
    height: 100px;
    background-color: #eaeaea;
}

#section-balance {
    width: 100%;
    height: 750px;
    display: grid;
    grid-template-columns: auto;
    background-color: #eaeaea;
    color: #414b5a;
}

#videobox {
    text-align: center;
    margin: 2vw;
}

iframe {
    width: 100%;
}

/********** PORTFOLIO **************/

#section-portfolio {
    background-color: #414b5a;
    color: #eaeaea;
    text-align: center;
    width: 100%;
    height: 40vw;
}

#section-portfolio a {
    color: #eaeaea;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    border-bottom-style: solid;

}

#section-portfolio h1 {
    margin: 5vw;
}

#section-portfolio a:hover {
    color: #79BD5A;
}


/**********PIL TIL TOPPEN***********/

.up a img {
    width: 10vw;
    height: 20vw;
    float: right;
    margin-right: 10vw;
    position: absolute;
    right: 0;
    bottom: -650vw;
}

.up:hover {}


.fot {
    width: 100%;
    background-color: #28292c;
    color: #9ea1a5;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

}

footer p {
    font-family: 'Exo', sans-serif;
    text-align: center;
    margin: 2vw;
}

.fot .fa {
    color: #393D46;
    border-color: #393D46;
    padding: 7px;
    font-size: 35px;
    width: 35px;
    margin-left: 2vw;

}

.fot a {
    color: #9ea1a5;
    text-decoration: none;
    font-family: 'Exo', sans-serif;

}

.fot i {
    text-align: center;
}

/******************** TABLET *******************/

@media only screen and (min-width: 768px) {

    #section-pie {
        height: 600px;
    }

    h1 {
        margin-left: 5vw;
    }

    p {
        text-align: left;
    }


    .piechart {
        background: #eaeaea;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        transform: rotate(-90deg);
        margin-top: 5vw;
        margin-left: 7vw;

    }

    #section-pie txt {
        margin-top: 4vw;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2vw;

    }

    #section-hjelm .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;

    }

    p {
        grid-column-end: 2
    }



    #section-hjelm {
        height: 400px;
        justify-self: center;
    }

    #section-hjelm img {
        width: 100%;
        padding: 2vw;
    }

    #undernav {
        top: 7.7vw;
    }

    #undernav {
        padding-top: 1.5vw;
    }

    .adress {
        text-align: center;
    }

    #intro-section h1 {}

    #intro-section {
        height: 300px;
    }

    #intro-section h3 {
        margin: 0 10vw 0 5vw;
    }

    #section-balance {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 400px;
    }

    #videobox {
        margin-top: 15vw;
        width: 10vv;
        height: 45vh;
    }

    #section-graf .grid-container {
        display: grid;
        grid-template-columns: 1fr;

    }

    #imgbox1 {
        width: 70%;
        justify-self: center;
    }

    /************ DESKTOP ***************/

    @media only screen and (min-width: 1024px) {
        #section-pie {
            height: 550px;
        }

        .piechart {
            width: 350px;
            height: 350px;

        }

        h1 {}

        #section-graf {
            grid-template-columns: 550px auto;
        }

        #section-graf img {
            width: 100%;

        }

        #imgbox1 {
            justify-self: center;
            margin-top: 8vw;
        }

        #section-graf {
            height: 500px;
        }

        #section-graf .so-me {
            height: 5vw;
        }



        #section-graf p {
            margin-top: 1vw;
        }

        p {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        i {
            margin-top: 4vw;
        }

        #section-hjelm {
            height: 400px;

        }

        #section-hjelm img {
            width: 50%;
            justify-self: left;

        }



        #menu {
            display: none;
        }

        #menuknap {
            display: none;
        }


        #desktop {
            display: block;
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;

        }

        #undernav {
            top: 5vw;
        }

        #undernav {
            padding-top: 1vw;
        }

        .fot {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            justify-self: center;
        }

        .some {
            justify-self: center;
        }

        #intro-section {
            height: 300px;
        }

        #intro-section h3 {
            margin: 0 20vw 0 20vw;
        }

        #intro-section h1 {
            margin: 0 20vw 0 20vw;
        }


        #videobox {
            margin-top: 10vw;
        }

        .kampagne-video {
            margin-right: 20vw;
            margin-left: 20vw;

        }

        .kampagne-video iframe {}

        #textbox3 p {
            margin-left: 0;
        }

        #textbox3 h1 {
            margin-left: 0;
        }
    }
