/***********GENERELLE INSTILLINGER*******************/
@import url(https: //cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css)

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: auto;
    font-size: 100%;
    background-color: #414b5a;
    scroll-behavior: smooth;

}

h1,
h2,
h3 {
    font-family: 'Exo', sans-serif;
    margin: 5vw;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 5vw;
    line-height: 1.6;
    text-align: left;
}

.fa {
    padding: 5px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    float: left;
    border-style: solid;
    border-color: #5280CC;
    margin-top: 2vw;

}

.fa-facebook {
    color: #5280CC;
}

.fa-twitter {
    color: #5280CC;
}

#so-me {
    margin-left: 5vw;
}

/***********HEADER / NAV*******************/

#nav {
    background-color: #28292c;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    -webkit-transition: all .5s;
    transition: all .5s;


}

#undernav {
    display: inline;
    background-color: #363D47;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 15vw;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    padding-top: 3vw;

}

#undernav li {
    display: inline;
    text-decoration: none;
    list-style-type: none;
    padding: 1vw;
}

#undernav a {
    color: #eaeaea;
    text-decoration: none;
    font-family: 'Exo', sans-serif;

}

#undernav a:hover {
    font-style: oblique;
    color: white;
}

#menuknap {
    width: 2em;
    height: 1.5em;
    font-size: 2em;
    color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 1rem;
}

#mobile {
    width: 100%;
    background-color: #28292c;
    list-style-type: none;
    position: fixed;
    top: 15vw;
    float: left;

}

#mobile a {
    color: #eaeaea;
    text-decoration: none;
    font-family: 'Exo', sans-serif;

}

#mobile li {
    padding: 1rem;
}

#mobile a:hover {
    font-style: oblique;
    color: white;
}



#logo {
    float: left;
    padding-left: 20px;
}

#desktop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 10vw;

}

#desktop li {
    float: right;

}

#desktop li a {
    display: block;
    padding left: 20px;
    padding-right: 20px;
    font-family: 'Exo', sans-serif;
    color: #ccc;
    line-height: 22px;
    position: static;
    vertical-align: middle;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;

}



/********************NAVBAR DESKTOP**********************/

.hidden {
    transform: scale(0);
}




#desktop {
    display: none;
}

/* Links inside the navbar */
#desktop a {
    float: right;
    display: block;
    color: #E0D3AD;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 2.5vw 2vw 0vw;
    position: relative;
}

/* Change background on mouse-over */
#desktop a:hover {
    font-style: oblique;
    color: white;

}

/************ KAMPAGNE VIDEO ******************/

#video-section {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #eaeaea;
}


/**************** GRAF SECTION ********************/

#section-graf {
    width: 100%;
    padding: 5px;
    height: 700px;
    background-color: #eaeaea;
    color: #414b5a;
    display: grid;
    grid-template-columns: 1fr;
}

#section-graf .grid-container {
    display: grid;
    grid-template-rows: auto auto auto;

}

#section-graf img {
    width: 100%;
}

/****************** PIECHART SECTION ****************/

#section-pie {
    width: 100%;
    height: 930px;
    background-color: #414b5a;
    color: #EAEAEA;

}


.piechart {
    background: #eaeaea;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transform: rotate(-90deg);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    justify-self: center;
}

.grid-container {
    text-align: center;

}

h2 {
    grid-column-start: 1;
    text-align: center;
}

p {}




.resultat {
    transform: rotate(90deg);
    font-family: 'Exo', sans-serif;
    stroke: #eaeaea;


}

.oevrigt {
    transform: rotate(90deg);
    font-family: 'Exo', sans-serif;
    stroke: #ddd;


}

i {
    text-align: center;
}


.pie1 {
    fill: none;
    stroke-width: 100;
    stroke-dasharray: 10 632;
    stroke-dashoffset: 0;
    fill: none;
    stroke: #79BD5A;
    transition: all 1s ease;


}

/****************** CYKELHJELM SECTION ****************/

#section-hjelm {
    width: 1565;
    padding: 5px;
    height: 700px;
    background-color: #eaeaea;
    color: #eaeaea;
    display: grid;
    grid-template-columns: 1fr;
}

#section-hjelm .grid-container {
    display: grid;
    grid-template-rows: auto auto auto;

}

#section-hjelm a {
    color: #FE6975;
    font-family: 'Exo', sans-serif;
    text-decoration: none;
    margin: 5vw;
}

#imgbox3 img {
    width: 60%;
    margin-top: 6vw;
}

#imgbox3 {
    text-align: center;
}



#section-hjelm {
    width: 1565;
    padding: 5px;
    height: 650px;
    background-color: #414b5a;
}



#section-portfolio {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #eaeaea;
}


/**********PIL TIL TOPPEN***********/

.up a img {
    width: 15vw;
    height: 30vw;
    float: right;
    margin-right: 10vw;

}

.up:hover {}


#footer {
    width: 1565;
    padding: 5px;
    height: 200px;

    background-color: #28292c;
    color: #9ea1a5;
}

/******************** TABLET *******************/

@media only screen and (min-width: 768px) {

    #section-pie {
        height: 600px;
    }

    h1 {
        margin-left: 2vw;
    }

    p {
        text-align: left;
    }


    .piechart {
        background: #eaeaea;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        transform: rotate(-90deg);
        margin-top: 5vw;
        margin-left: 7vw;

    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2vw;

    }

    #section-hjelm .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;

    }

    h2 {
        grid-column-start: 2;
    }


    p {
        grid-column-end: 2
    }

    #section-hjelm {
        height: 400px;
        justify-self: center;
    }

    #section-hjelm img {
        width: 100%;
        padding: 2vw;
    }

    #undernav {
        top: 7.7vw;
    }

    #undernav {
        padding-top: 1.5vw;
    }


}

/************ DESKTOP ***************/

@media only screen and (min-width: 1024px) {
    #section-pie {
        height: 650px;
    }

    .piechart {
        width: 350px;
        height: 350px;

    }

    h1 {
        text-align: center;

    }

    #section-graf .grid-container {
        grid-template-columns: 600px auto;
    }

    #section-graf img {
        width: 100%;
    }

    #section-graf {
        height: 600px;
    }


    p {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    i {
        margin-top: 4vw;
    }

    #section-hjelm {
        height: 550px;

    }

    #section-hjelm img {
        width: 70%;

    }

    #menu {
        display: none;
    }

    #menuknap {
        display: none;
    }


    #desktop {
        display: block;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;

    }

    #undernav {
        top: 5vw;
    }

    #undernav {
        padding-top: 1vw;
    }

}
