/***********GENERELLE INSTILLINGER*******************/

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: auto;
    font-size: 100%;
    background-color: #414b5a;
    position: relative;
}

h1,
h2,
h3 {
    font-family: 'Exo', sans-serif;
    margin: 2vw;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 5vw;
}

/***********HEADER / NAV*******************/

#nav {
    background-color: #28292c;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

#logo {
    float: left;
    padding-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    font-family: Safety_DemiBold, Helvetica, Arial, sans-serif;
    display: block;
    padding left: 20px;
    padding-right: 20px;
    margin-top: 25px;

    color: #ccc;
    line-height: 22px;
    position: static;
    vertical-align: middle;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;

}

.kampagner {
    margin-right: 160px;
}



#section {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #414b5a;
}

#section1 {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #eaeaea;
}

#section2 {
    width: 100%;
    height: 100%;
    background-color: #414b5a;
    color: #EAEAEA;

}

.piechart {
    background: #eaeaea;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transform: rotate(-90deg);
    margin-left: 15vw;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;


}

p {}

/*i {

    font-family: 'Exo', sans-serif;
    font-size: 10vw;
    display: inline-block;

}*/


.pie1 {
    fill: none;
    stroke: #123456;
    stroke-width: 100;
    stroke-dasharray: 10 632;
    stroke-dashoffset: 0;
    fill: none;
    stroke: #79BD5A;
    transition: all 1s ease;


}

#section3 {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #eaeaea;
}

#section4 {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #414b5a;
}

#section5 {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #eaeaea;
}

#section6 {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #414b5a;
}

#section7 {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #eaeaea;
}

#lastsection {
    width: 1565;
    padding: 5px;
    height: 200px;
    background-color: #414b5a;
}

#footer {
    width: 1565;
    padding: 5px;
    height: 200px;

    background-color: #28292c;
    color: #9ea1a5;
}

/******************** TABLET *******************/

@media only screen and (min-width: 768px) {

    h1 {
        margin-left: 2vw;
    }

    p {
        margin: 10vw 5vw;
    }


    .piechart {
        background: #eaeaea;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        transform: rotate(-90deg);
        margin-top: 5vw;
        margin-left: 5vw;


    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;


    }
}

/************ DESKTOP ***************/

@media only screen and (min-width: 1024px) {
    .piechart {
        width: 400px;
        height: 400px;
    }
}
